.statistics {
  padding: 4rem 7rem;
  text-align: center;
  background-color: #f0f1f6;
}

.statistics h2 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #3b3054;
  margin-bottom: 1rem;
}

.statistics p {
  color: #9e9aa7;
  max-width: 500px;
  margin: 0 auto;
  font-size: 1rem;
  line-height: 1.6;
}

.cards {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  margin-top: 5rem;
  flex-wrap: wrap;
  position: relative;
}

.card {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  width: 350px;
  position: relative;
  text-align: left;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.card h3 {
  font-size: 1.25rem;
  color: #3b3054;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}

.card p {
  color: #9e9aa7;
  font-size: 0.95rem;
  line-height: 1.6;
}

.icon {
  width: 80px;
  height: 80px;
  background-color: #3b3054;
  border-radius: 50%;
  position: absolute;
  top: -40px;
  left: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line-prop {
  position: absolute;
  top: 137px;
  left: 0;
  right: 0;
  height: 10px;
  background-color: #2acfcf;
  z-index: 0;
}

/* Media Queries */
@media (max-width: 390px) {
  .statistics {
    padding: 3rem 2rem;
  }

  .statistics h2 {
    font-size: 1.5rem !important;
  }

  .cards {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 100%;
    max-width: 330px;
    margin-top: 2rem !important;
  }

  .line-prop {
    width: 10px;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

    .icon {
    left: 50%;
    transform: translateX(125%);
  }
}

@media (max-width: 375px) {
  .statistics {
    padding: 3rem 2rem;
  }

  .cards {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 100%;
    max-width: 330px;
    margin-top: 2rem !important;
  }

  .line-prop {
    width: 10px;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .icon {
    left: 50%;
    transform: translateX(115%);
  }
}


@media (max-width: 1440px) {
  .statistics h2 {
    font-size: 2rem;
  }


  .card {
    max-width: 350px;
    margin-top: 3rem;
  }

  .icon {
    width: 70px;
    height: 70px;
    background-color: #3b3054;
    border-radius: 50%;
    position: absolute;
    top: -40px;
    left: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
