.button {
  padding: var(--spacing-small) var(--spacing-large);
  font-size: var(--font-size-small);
  font-family: var(--font-family);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-weight: var(--font-weight-bold);
  background-color: var(--color-accent);
  color: var(--color-white);
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.button.primary:hover {
  background-color: var(--color-accent-hover);
}

.button.secondary {
  border-radius: var(--border-radius-rounded);
}

.button.secondary:hover {
  background-color: var(--color-accent-hover);
}

.button.disabled {
  background-color: var(--color-primary);
  cursor: not-allowed;
}

.button.disabled:hover {
  background-color: var(--color-primary);
}

.button.small {
  padding: var(--spacing-small) var(--spacing-large);
  font-size: var(--font-size-xsmall);
}
